@import "../../../constants/Colors.scss";

.BTN {
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: 600;
}
.btn-half {
  width: 350px;
}
.button-primary {
  background-color: $company-green;
  color: $white;
  text-transform: uppercase;
  transition: 0.3s;
  &:hover {
    background-color: $company-green-hover;
  }
}
